{% extends 'base.html.twig' %}

{% block body %}
    <h2>Paiement réussi ✔</h2>
    <p>Votre réservation a été confirmée !</p>
    <a href="{{ path('app_my_reservations') }}" class="btn btn-primary mt-3">Voir mes réservations</a>
{% endblock %}
